/* Variables de estilo para modo claro y oscuro */

  
/* Estilo general para la lista de servicios */
.servicioslista-servicios-lista {
    padding: 20px;
    color: var(--text);
}

/* Botones de acciones */
.servicioslista-botones-acciones {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.servicioslista-botones-acciones button {
    background-color: var(--button-bg-light);
    border: 1px solid var(--button-border);
    color: var(--text);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.servicioslista-botones-acciones button:hover {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
}

/* Filtro de búsqueda */
.servicioslista-filtro-busqueda {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.servicioslista-input-filtro {
    flex-grow: 1;
}

.servicioslista-dropdown-filtro {
    min-width: 150px;
}

/* Estilos de la tabla */
.servicioslista-tabla-servicios {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: var(--text);
}

.servicioslista-tabla-servicios th,
.servicioslista-tabla-servicios td {
    padding: 10px;
    text-align: left;
}

.servicioslista-tabla-servicios th {
    color: var(--text);
    background: var(--table-th-bg);
}

.servicioslista-tabla-servicios tbody tr:hover {
    background-color: var(--secondary);
}

/* Estilos específicos para la tabla de planes de pago */
.servicioslista-tabla-planes {
    width: 95%; /* Disminuir el ancho para dar la impresión de desplazamiento */
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 20px; /* Desplazar la tabla hacia la derecha */
    background-color: var(--table-bg);
}

.servicioslista-tabla-planes th,
.servicioslista-tabla-planes td {
    padding: 8px;
    border: 1px solid var(--table-border);
    text-align: left;
}

.servicioslista-tabla-planes th {
    background-color: var(--);
    color: var(--header-text-light);
}

.servicioslista-tabla-planes tr:nth-child(even) {
    background: var(--table-row-even-bg);
}

.servicioslista-tabla-planes tbody tr:hover {
    background-color: var(--table-row-hover-bg);
}

.servicioslista-plan-row td {
    padding: 0;
}

/* Estilos para el modo oscuro */
body.dark-mode .servicioslista-servicios-lista {
    background-color: var(--background);
    color: var(--text);
}

body.dark-mode .servicioslista-botones-acciones button {
    background-color: var(--button-bg-dark);
    border: 1px solid var(--button-border-dark);
    color: var(--button-text-dark);
}

