.comidaItem {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 600px; /* Añadimos un ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  position: relative; /* Para que los botones de acciones se posicionen correctamente */
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabButton {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
}

.activeTab {
  background-color: #42a5f5;
  color: white;
}

.macroInfo {
  margin-top: 10px;
  max-width: 100%; /* Hacer que las barras respeten el tamaño del contenedor */
}

.progressWrapper {
  margin-bottom: 15px;
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 20px;
  position: relative;
  overflow: hidden;
  padding-right: 10px;
}

.progress {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.percentage {
  font-size: 12px;
  color: #666;
}

.highPercentage {
  color: red;
}

.imageContainer {
  text-align: center;
}

.foodImage {
  max-width: 150px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.gramosSection {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caloriasInfo {
  margin-left: 20px;
  font-size: 16px;
  color: #666;
}

.gramosButtons button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.gramosButtons button:hover {
  background-color: #bdbdbd;
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.addOptionsButton {
  background-color: #42a5f5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.addOptionsButton:hover {
  background-color: #1e88e5;
}

.actions {
  position: absolute;
  top: 20px;
  right: 20px;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
