/* General styles */
.Rutinaaaasss-rutina-container {
  padding: 20px;
}

/* Theme styles */
.Rutinaaaasss-rutina-container.light {
  background-color: #f7faff;
  color: var(--text-light);
}

.Rutinaaaasss-rutina-container.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

/* Button styles */
.Rutinaaaasss-btn-create {
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px; /* Agrega espacio entre los botones */
}

.Rutinaaaasss-btn-create.light {
  background-color: var(--button-background-light);
  color: var(--button-text-light);
  border: 2px dashed var(--button-text-light);
}

.Rutinaaaasss-btn-create.dark {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
  border: 2px dashed var(--button-text-dark);
}

/* Styles for the new "Crear Rutina con IA" button */
.Rutinaaaasss-btn-create-ai {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid; /* Bordes sólidos para el nuevo botón */
}

.Rutinaaaasss-btn-create-ai.light {
  background-color: var(--button-background-light);
  color: var(--button-text-light);
  border-color: var(--button-text-light);
}

.Rutinaaaasss-btn-create-ai.dark {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
  border-color: var(--button-text-dark);
}

/* Search input styles */
.Rutinaaaasss-search-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.Rutinaaaasss-search-input.light {
  background-color: var(--background-light);
  color: var(--text-light);
  margin-top: 10px;
  border: 1px solid #747474;
}

.Rutinaaaasss-search-input.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
  border: 1px solid var(--button-text-dark);
}

/* Table styles */
.Rutinaaaasss-routines-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #5c71b6;
  color: var(--listaderutinas-card-foreground);
  border: 1px solid var(--listaderutinas-border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.Rutinaaaasss-routines-table th, .Rutinaaaasss-routines-table td {
  padding: 10px;
  text-align: left;
}

.Rutinaaaasss-routines-table th {
  color: var(--listaderutinas-secondary-foreground);
  border-bottom: 2px solid var(--listaderutinas-border);
}

.Rutinaaaasss-routines-table.light th {
  background-color: #265db5;
  color: #fbf7f2;
}

.Rutinaaaasss-routines-table.dark th {
  background-color: var(--listaderutinas-secondary-dark);
  color: var(--listaderutinas-secondary-foreground-dark);
}

.Rutinaaaasss-routines-table td {
  border-bottom: 1px solid var(--listaderutinas-border);
}

.Rutinaaaasss-routines-table.light td {
  background-color: var(--listaderutinas-card);
  color: var(--listaderutinas-card-foreground);
}

.Rutinaaaasss-routines-table.dark td {
  background-color: var(--listaderutinas-card-dark);
  color: var(--listaderutinas-card-foreground-dark);
}

.Rutinaaaasss-routines-table tr:hover {
  background-color: var(--listaderutinas-muted);
  color: var(--listaderutinas-muted-foreground);
}

.Rutinaaaasss-routines-table.dark tr:hover {
  background-color: var(--listaderutinas-muted-dark);
  color: var(--listaderutinas-muted-foreground-dark);
}

/* Dropdown styles */
.Rutinaaaasss-action-button {
  background-color: var(--listaderutinas-primary);
  border: 2px dashed var(--listaderutinas-primary-foreground);
  color: var(--listaderutinas-primary-foreground);
  padding: 5px 10px;
  cursor: pointer;
}

.Rutinaaaasss-action-button.dark {
  background-color: var(--listaderutinas-primary-dark);
  border: 2px dashed var(--listaderutinas-primary-foreground-dark);
  color: var(--listaderutinas-primary-foreground-dark);
}

.Rutinaaaasss-dropdown {
  position: relative;
  display: inline-block;
}

.Rutinaaaasss-dropdown-content {
  display: block;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Rutinaaaasss-dropdown-content.light {
  background-color: var(--listaderutinas-card);
  color: var(--listaderutinas-card-foreground);
}

.Rutinaaaasss-dropdown-content.dark {
  background-color: var(--listaderutinas-card-dark);
  color: var(--listaderutinas-card-foreground-dark);
}

.Rutinaaaasss-dropdown-content button {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.Rutinaaaasss-dropdown-content.light button {
  color: var(--listaderutinas-foreground);
}

.Rutinaaaasss-dropdown-content.dark button {
  color: var(--listaderutinas-foreground-dark);
}

.Rutinaaaasss-dropdown-content button:hover {
  background-color: var(--listaderutinas-muted);
}

.Rutinaaaasss-dropdown-content.dark button:hover {
  background-color: var(--listaderutinas-muted-dark);
}

/* Modal styles */
.Rutinaaaasss-preview-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.Rutinaaaasss-preview-modal-content {
  margin: 5% auto;
  padding: 20px;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.Rutinaaaasss-preview-modal-content.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.Rutinaaaasss-preview-modal-content.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.Rutinaaaasss-preview-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Rutinaaaasss-preview-close:hover,
.Rutinaaaasss-preview-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Rutinaaaasss-preview-modal table {
  width: 100%;
  border-collapse: collapse;
}

.Rutinaaaasss-preview-modal table th,
.Rutinaaaasss-preview-modal table td {
  border: 1px solid var(--listaderutinas-border);
  padding: 8px;
  text-align: left;
}

.Rutinaaaasss-preview-modal table th.light,
.Rutinaaaasss-preview-modal table td.light {
  background-color: var(--listaderutinas-secondary);
  color: var(--listaderutinas-secondary-foreground);
}

.Rutinaaaasss-preview-modal table th.dark,
.Rutinaaaasss-preview-modal table td.dark {
  background-color: var(--listaderutinas-secondary-dark);
  color: var(--listaderutinas-secondary-foreground-dark);
}

/* Animation styles */
.Rutinaaaasss-modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.Rutinaaaasss-modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.Rutinaaaasss-modal-exit {
  opacity: 1;
  transform: scale(1);
}
.Rutinaaaasss-modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.Rutinaaaasss-rutina-container {
  padding: 20px;
  max-width: 100%; /* Para asegurar que la página se adapte correctamente */
}

.Rutinaaaasss-preview-modal-content {
  margin: 5% auto;
  padding: 20px;
  width: 80%; /* Hacemos este modal también más ancho */
  max-width: 1200px; /* Máximo ancho permitido */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Ajustes para el modo oscuro de la tabla */
.Rutinaaaasss-routines-table.dark {
  background-color: #343a40; /* Color de fondo general de la tabla */
  color: #f8f9fa; /* Color de texto principal */
  border: 1px solid #495057; /* Borde gris oscuro para la tabla */
}

.Rutinaaaasss-routines-table.dark th {
  background-color: #3a3a3a; /* Encabezado de la tabla en color azul oscuro */
  color: #f8f9fa; /* Texto blanco para el encabezado */
  border-bottom: 2px solid #495057; /* Borde inferior para las celdas de encabezado */
}

.Rutinaaaasss-routines-table.dark td {
  background-color: #1a1a1a; /* Fondo gris oscuro para las celdas */
  color: #f8f9fa; /* Texto blanco para las celdas */
  border-bottom: 1px solid #5c71b6; /* Borde inferior azul oscuro entre filas */
}

.Rutinaaaasss-routines-table.dark tr:hover {
  background-color: #5c71b6; /* Color de fondo azul oscuro cuando se pasa el ratón */
  color: #f8f9fa; /* Color de texto blanco al hacer hover */
}

.Rutinaaaasss-dropdown-content.dark {
  background-color: #343a40; /* Fondo oscuro para el menú desplegable */
  color: #f8f9fa; /* Texto blanco para el menú desplegable */
}

.Rutinaaaasss-dropdown-content.dark button {
  color: #f8f9fa; /* Texto blanco para los botones del menú desplegable */
}

.Rutinaaaasss-dropdown-content.dark button:hover {
  background-color: #5c71b6; /* Fondo azul oscuro cuando se pasa el ratón sobre el botón */
}
/* Estilos para la contenedor de acciones */
.Rutinaaaasss-actions-icons {
  display: flex; /* Usamos flex para alinear los iconos */

}

/* Estilos para los íconos */
.Rutinaaaasss-icon {
  cursor: pointer; /* Cambia el cursor para que sea de tipo "mano" */
  width: 24px; /* Ajusta el tamaño del icono */
  height: 24px; /* Mantén la proporción del tamaño del icono */
  margin: 0 8px; /* Añade margen horizontal entre los iconos */
  color: #333; /* Color del icono */
  transition: color 0.3s ease; /* Transición suave para cambios de color */
}

/* Efecto hover en los íconos */
.Rutinaaaasss-icon:hover {
  color: #007bff; /* Cambia el color del icono al pasar el ratón */
}
