/* src/Chater.css */

.Chater-column {
    width: 30%;
    height: 95%;
    background-color: var(--widget-bg);
    padding: 20px;
    border-radius: 10px;
    color: var(--text);
    margin: 0px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    /* Removido justify-content: space-between; */
}

.Chater-column h3 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}

.checkins-detalles-button,
.alertas-personalizar-button,
.chater-detalles-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-bg);
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

.checkins-detalles-button:hover,
.alertas-personalizar-button:hover,
.chater-detalles-button:hover {
    background-color: #0056b3;
}

.Chater-chater-container {
    max-height: 80%;
    overflow-y: auto;
    padding-right: 10px;
    border-radius: 10px;
    background-color: var(--table-tr-child-bg);
    border: 1px solid var(--secondary-light);
    padding: 10px;
    margin-top: 15px; /* Agregado margen superior */
    flex-grow: 1; /* Para expandir el contenedor */
}

/* Custom scrollbar styles */
.Chater-chater-container::-webkit-scrollbar {
    width: 8px;
}

.Chater-chater-container::-webkit-scrollbar-track {
    background: #444;
    border-radius: 10px;
}

.Chater-chater-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.Chater-chater-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Chater-item {
    background-color: #d5f4f2;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Chater-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Chater-item p {
    margin: 0;
    font-size: 16px;
    color: #2a2a2a;
}

.Chater-status-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Chater-date {
    color: #888888;
    font-size: 14px;
}

.Chater-modal {
    display: flex;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.Chater-modal-content {
    background-color: #e6f2f1;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: auto;
}

.Chater-close {
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.Chater-modal-body {
    flex-grow: 1;
    padding: 20px;
    background-color: #ebf7ee;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Custom scrollbar styles */
.Chater-modal-body::-webkit-scrollbar {
    width: 8px;
}

.Chater-modal-body::-webkit-scrollbar-track {
    background: #e6f2f1;
    border-radius: 10px;
}

.Chater-modal-body::-webkit-scrollbar-thumb {
    background: #39393a;
    border-radius: 10px;
}

.Chater-modal-body::-webkit-scrollbar-thumb:hover {
    background: #5b5e5e;
}

.Chater-message {
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Chater-message.received {
    align-self: flex-start;
    background-color: #f6ffe8;
}

.Chater-message.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.Chater-message p {
    margin: 0;
    color: #39393a;
}

.Chater-modal-date {
    font-size: 12px;
    color: #7e8383;
    align-self: flex-end;
    margin-top: 5px;
}

.Chater-modal-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #b2bbba;
}

.Chater-input {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #989f9f;
    margin-right: 10px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #39393a;
}

.Chater-send-button {
    background-color: #39393a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.Chater-send-button:hover {
    background-color: #5b5e5e;
}
