/* src/Componentedesplegable.css */
.draggable-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

.componentedesplegable {
    background-color: var(--background);
    box-shadow: 0px 4px 10px var(--ClientesWorkspace-shadow-light);
    border: 1px solid var(--secondary-light);
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.draggable-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.react-resizable-handle.react-resizable-handle-s::before {
    content: ''; /* Esto puede ser reemplazado si usas una imagen o símbolo */
    display: inline-block;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWF0b20iPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEiLz48cGF0aCBkPSJNMjAuMiAyMC4yYzIuMDQtMi4wMy4wMi03LjM2LTQuNS0xMS45LTQuNTQtNC41Mi05Ljg3LTYuNTQtMTEuOS00LjUtMi4wNCAyLjAzLS4wMiA3LjM2IDQuNSAxMS45IDQuNTQgNC41NCA5Ljg3IDYuNTQgMTEuOSA0LjVaIi8+PHBhdGggZD0iTTE1LjcgMTUuN2M0LjUyLTQuNTQgNi41NC05Ljg3IDQuNS0xMS45LTIuMDMtMi4wNC03LjM2LS4wMi0xMS45IDQuNS00LjUyIDQuNTQtNi41NCA5Ljg3LTQuNSAxMS45IDIuMDMgMi4wNCA3LjM2LjAyIDExLjktNC41WiIvPjwvc3ZnPg==    ');
    background-size: 24px 24px; /* Asegúrate de ajustar el tamaño */
    width: 24px; 
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--secondary-light);
    padding: 10px;
}

.settings-icon {
    color: var(--text);
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--secondary-light);
}

.close-button {
    background-color: #ff0000;
    color: var(--text);
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
}

.close-button:hover {
    background-color: #cc0000;
}

.tablinks {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin: 0 5px;
}

.tablinks.active {
    background-color: var(--table-tr-child-bg);
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.react-resizable-handle {
    position: absolute;
    cursor: ns-resize;
    background-color: var(--secondary);
}

/* Asegurando que las columnas manejen adecuadamente su contenido */
.alertas-column, .chater-column {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Para evitar que el contenido se desborde */
    height: 95%; /* Ocupa todo el alto disponible */
}

.alertas-alerts-container, .chater-chater-container {
    flex-grow: 1;
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es mayor que el contenedor */
    overflow-x: hidden; /* Asegura que no haya desplazamiento horizontal */
    max-height: 100%; /* Evita que el contenido exceda la altura del contenedor */
}

/* Opcional: Si necesitas manejar un padding dentro de las columnas */
.alertas-column, .chater-column {
    padding: 20px; /* Ajusta el padding según sea necesario */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho/alto */
}
