/* src/styles.css */
/* styles.css 
/* src/styles.css */
:root {
  --background-light: #f7faff;
  --background-widget-light: #fff;
  --shadow-widget: 0 4px 10px rgba(0, 0, 0, 0.1);
  --background-dark: #333333;
  --background-darkblue: #335484;
  --background-focus: #90a4ae;
  --text-light: #000000;
  --text-dark: #ffffff;
  --primary-light: #d9bfae;
  --primary-dark: #4a4a4a;
  --secondary-light: #ddd;
  --secondary-dark: #555;
  --button-bg-light: #90a4ae;
  --button-bg-lightblue: #3d8bfd;
  --button-border-light: #000000;
  --button-text-light: #000000;
  --button-bg-dark: #444444;
  --button-border-dark: #ffffff;
  --button-text-dark: #ffffff;
  --header-bg-light: #ddd;
  --header-bg-dark: #444444;
  --header-text-light: #000;
  --header-text-dark: #fff;
  --search-button-bg-light: #fff;
  --search-button-border-light: #000;
  --search-button-text-light: #000;
  --search-button-bg-dark: #444;
  --search-button-border-dark: #fff;
  --search-button-text-dark: #fff;
  --create-button-bg-light: #09BC8A;
  --create-button-bg-dark: #006B5A;
}
/* styles.css */
body.light {
  --background: var(--background-light);
  --text: var(--text-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --button-bg: var(--button-bg-light);
  --button-border: var(--button-border-light);
  --button-text: var(--button-text-light);
  --header-bg: var(--header-bg-light);
  --header-text: var(--header-text-light);
  --search-button-bg: var(--search-button-bg-light);
  --search-button-border: var(--search-button-border-light);
  --search-button-text: var(--search-button-text-light);
  --create-button-bg: var(--create-button-bg-light);
}

body.dark {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --button-bg: var(--button-bg-dark);
  --button-border: var(--button-border-dark);
  --button-text: var(--button-text-dark);
  --header-bg: var(--header-bg-dark);
  --header-text: var(--header-text-dark);
  --search-button-bg: var(--search-button-bg-dark);
  --search-button-border: var(--search-button-border-dark);
  --search-button-text: var(--search-button-text-dark);
  --create-button-bg: var(--create-button-bg-dark);
}

body {
    font-family: Arial, sans-serif;
}
.App {
    display: flex;
  }
  .main-content {
    padding: 20px;
    flex: 1;
    background-color: #f7faff;
    transition: margin-left 0.3s;
  }
  
  .main-content.expanded {
    margin-left: 235px;
  }
  
  .main-content.collapsed {
    margin-left: 60px;
  }
  
  .App.dark .main-content {
    background-color: var(--background-dark);
  }
  

h1, h2 {
    color: #333;
}

.actions {
    margin-bottom: 20px;
}

.actions input {
    padding: 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}




.selected-client {
    background-color: #d3d3d3;
}

.client-detail {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.client-detail p {
    margin: 5px 0;
}

/* Custom styles for react-calendar */
.react-calendar {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile--active {
    background: #007bff;
    color: white;
}



 /* Estilos para los modales */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: 1000px;
    margin-top: 500px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*.navbar {
    background-color: #333;
    padding: 1rem;
  } 
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  */