/* src/styles.css */
/* styles.css 
/* src/styles.css */
:root {
  --background-light: #f7faff;
  --background-widget-light: #fff;
  --shadow-widget: 0 4px 10px rgba(0, 0, 0, 0.1);
  --background-dark: #333333;
  --background-darkblue: #335484;
  --background-focus: #90a4ae;
  --text-light: #000000;
  --text-dark: #ffffff;
  --primary-light: #d9bfae;
  --primary-dark: #333333;
  --secondary-light: #ddd;
  --secondary-dark: #3a3a3a;
  --button-bg-lightblue: #3d8bfd;
  --button-border-light: #494949b0;
  --button-text-light: #000000;
  --button-border-dark: #777777;
  --button-text-dark: #ffffff;
  --header-bg-light: #ddd;
  --header-bg-dark: #444444;
  --header-text-light: #000;
  --header-text-dark: #fff;
  --search-button-bg-light: #fff;
  --search-button-border-light: #000;
  --search-button-text-light: #000;
  --search-button-bg-dark: #444;
  --search-button-border-dark: #fff;
  --search-button-text-dark: #fff;

  --button-border: #000000;

  --background-light: #f7faff;
  --background: #f7faff;

  --text-light: #2a2a2a;
  --text: #2a2a2a;

  --text-transparente: #a8a8a8;

  --button-bg-light: linear-gradient(103deg, rgba(39, 114, 244, 1) 48%, rgba(39, 100, 193, 1) 97%);
  --button-bg: linear-gradient(103deg, rgba(39, 114, 244, 1) 48%, rgba(39, 100, 193, 1) 97%);

  --button-bg-dos: #265db5;

  --button-bg-tres: linear-gradient(130deg, rgb(214, 71, 94) 9%, rgb(238, 85, 133) 33%);

  --search-button-bg: #7d7d7d30;

  --search-button-bg-light: #ffffffff;

  --search-button-border: 1px solid #ddd;

  --create-button-bg-light:  linear-gradient(130deg, rgba(115,68,210,1) 16%, rgba(152,91,248,1) 65%);
  --create-button-bg:  linear-gradient(130deg, rgba(115,68,210,1) 16%, rgba(152,91,248,1) 65%);

  --button-bg-filtro-dark: linear-gradient(130deg, rgb(161 42 60) 9%, rgb(167 45 83) 33%);
  --button-bg-darkk: linear-gradient(103deg, rgb(38 108 141) 48%, rgb(30 86 113) 97%);
  --button-bg-dos-dark: #546e7a;
  --create-button-bg-dark: linear-gradient(130deg, rgb(85 51 153) 16%, rgb(99 57 163) 65%);
  --text-transparente-dark: #8484847a;
  --widget-bg: #ffffff;

  --table-th-bg: #ededed;
  --table-tr-child-bg: #f8f8f8;
  --table-tr-bg: #f7faff;
  --border-blue: #d0e0ff;
  --text-blue: #265db5;
  --tablacoloresthead: #265db5;
  --secondary: #ddd;
  --input-border-dark: #ffff;
  --input-bg-dark: #2d2d2d;
}

.dark {
  --text: #f1f1f1;
  --widget-bg: #3a3a3a;
  --background: #333333;
  --table-th-bg: #555;
  --table-tr-child-bg: #2a2a2a;
  --table-tr-bg: #1a1a1a;
  --create-button-bg: linear-gradient(130deg, rgb(85 51 153) 16%, rgb(99 57 163) 65%);
  --button-bg: linear-gradient(103deg, rgb(38 108 141) 48%, rgb(30 86 113) 97%);
  --search-button-bg: #444;
  --text-transparente: #8484847a;
  --button-border: #777777;
  --tablacoloresthead: #555;
  --secondary: #3a3a3a;

}

/* Estilo scrollbar */

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  background-color: var(--background);
  width: 12px;
}

/* Fondo de la scrollbar excepto botón o resizer */
::-webkit-scrollbar-track {
  background-color: var(--widget-bg);
}
::-webkit-scrollbar-track:hover {
  background-color: var(--background);
}

/* La scrollbar en sí */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid var(--secondary);
}

/* Ocultar botones (arriba y abajo de la scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

body {
    font-family: Arial, sans-serif;
}
.App {
    display: flex;
  }
  .main-content {
    padding: 20px;
    flex: 1;
    background-color: #f7faff;
    transition: margin-left 0.3s;
  }
  
  .main-content.expanded {
    margin-left: 235px;
  }
  
  .main-content.collapsed {
    margin-left: 60px;
  }
  
  .App.dark .main-content {
    background-color: var(--background-dark);
  }
  

h1, h2 {
    color: #333;
}

.actions {
    margin-bottom: 20px;
}

.actions input {
    padding: 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}




.selected-client {
    background-color: #d3d3d3;
}

.client-detail {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.client-detail p {
    margin: 5px 0;
}

/* Custom styles for react-calendar */
.react-calendar {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile--active {
    background: #007bff;
    color: white;
}



 /* Estilos para los modales */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: 1000px;
    margin-top: 500px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*.navbar {
    background-color: #333;
    padding: 1rem;
  } 
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  */