.filtrodediasyhoras-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filtrodediasyhoras-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 90%;
    height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.filtrodediasyhoras-modal h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    flex-shrink: 0;
}

.filtrodediasyhoras-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.filtrodediasyhoras-horario-semanal {
    margin-bottom: 20px;
}

.filtrodediasyhoras-boton-configurar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.filtrodediasyhoras-boton-configurar:hover {
    background-color: #0056b3;
}

.filtrodediasyhoras-label {
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

.filtrodediasyhoras-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.filtrodediasyhoras-button-container-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Se coloca arriba del calendario */
}

.filtrodediasyhoras-submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filtrodediasyhoras-cancel-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
